.cta {
  background:#1e293b;
  color:white;
  text-align:center;
  padding:100px 20px;
}

.cta h2 {
  font-size:3rem;
  margin-bottom:20px;
}

.cta p {
  margin-bottom:30px;
}

.cta button {
  padding:14px 28px;
  border:none;
  border-radius:8px;
  cursor:pointer;
  font-weight:600;
}