.card {
  background: white;

  border-radius: 15px;

  overflow: hidden;

  box-shadow: 0 2px 15px rgba(0,0,0,.08);
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.cardBody {
  padding: 20px;
}

.cardBody h3 {
  margin-bottom: 10px;
}

.cardBody p {
  color: #666;
  margin-bottom: 10px;
}

.cardBody span {
  display: block;
  margin-bottom: 15px;
}

.cardBody h4 {
  color: #2563eb;
  margin-bottom: 15px;
}

.cardBody .btn {
  width: 100%;
  padding: 12px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}